.policy-links {
    background: -webkit-linear-gradient(
    rgb(0, 140, 255),
    rgb(0, 17, 255)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 1.5vw;
  margin-left: 6vw;
}
.page-footer {
  min-height: 200px;
    background: linear-gradient(
      rgb(255, 255, 255),
      rgb(228, 228, 228),
      rgb(206, 206, 206),
      rgb(182, 182, 182),
      rgb(150, 150, 150),
      rgb(112, 112, 112)
    );
}

@media only screen and (max-width: 1500px) {
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 800px) {
}
@media only screen and (max-width: 600px) {
}
