.navbar {
  background-image: linear-gradient(
    rgba(65, 62, 62, 0.9),
    rgb(48, 48, 48),
    rgb(55, 55, 58),
    rgba(41, 41, 41, 0.9)
  );
}

.sticky-nav {
  position: fixed;
  z-index: 10;
  width: 100vw;
}

.nav-title {
  font-size: 2.5vw;
  font-weight: 1000;
  background: -webkit-linear-gradient(
    rgb(145, 145, 145),
    rgb(141, 141, 141),
    rgb(95, 95, 95),
    rgb(68, 68, 68)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0.25vw;
  margin-left: 12vw;
}

.nav-link {
  font-size: 1.5vw;
  font-weight: 850;
  background: -webkit-linear-gradient(
    rgb(161, 161, 161),
    rgb(128, 128, 128),
    rgb(102, 102, 102),
    rgb(87, 87, 87)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1vw;
}
@media only screen and (max-width: 1500px) {
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 800px) {
}
@media only screen and (max-width: 600px) {
}
